<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.ionicframework.ngCordovaDemoUnique"
		versionCode=""
		version   = "">
		<name>ngCordovaDemo</name>
		<description>Demo app for ngCordova plugins		</description>
		
		<plugin spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git#3cf975b" />
		<plugin spec="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker.git#bd87605" />
	</widget>
